# ignore lfcgm2 (lfcgm prototype) files
lfcgm2*.*

# non-project files to ignore
*.bat
*.jpg
*.log
*.pdf
*.pptx
*.png
*.pyc
*.sh
*.tmp
*.txt
*.xlsx
tmp*.*
*.old*
*~*
*.sav*
Thumbs.db

# data, archive and tmp folder files
archive/
data/
tmp*/

# IPython notebook checkpoint files
.ipynb_checkpoints/